@use "../abstracts/" as *;
.about {
  &__content {
    padding: 2rem;
  }

  &__intro {
    font-size: $font-size-base;
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__block {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &__subtitle {
    font-size: $font-size-small;
    margin-bottom: 0.8rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;
    padding: 0;

    & > .about__item {
      margin-bottom: 0.5rem;
      line-height: 1.5;
    }
  }
}
